
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

/public/photo/biography/
/public/photo/country/
/public/photo/language/
/public/photo/page/
/public/photo/quote/
/public/photo/source/
/public/photo/tag/
/public/photo/store/
/public/photo/user/
/public/photo/version/
###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
